.wrapper.landing-container
  .page-illustrated-header-container
    .container
      .row
        .col-md-7
          %h1.page-headline
            Goldman Sachs improves from two daily builds to over a thousand per day
          %a.btn.cta-btn.orange.margin-top20{ href: "/customers/goldman-sachs/" }
            Read the Case Study
