@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

//sass-lint:disable-all
.gitlab-content-container {
  padding-top: 20px !important;
}

//sass-lint:disable-all
.forrester-logo {
  display: none !important;
}
